.form {
  display: flex;
  position: fixed;
}
#messages {
  display: flex;
  flex-direction: column; 
  position: relative;
  max-width: 600px;
  margin: 20px auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: 400px;
  overflow-y: auto;
}

.message {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 5px;
  width: fit-content;
  max-width: 80%;
  word-wrap: break-word;
  align-items: center; 
}
.sent {
  background-color: #e1ffc7;
  align-self: flex-end;
 
}
.received {
  background-color: #f1f0f0; 
  align-self: flex-start;
}

.userName , .roomName{
  cursor: pointer;
  padding: 5px;
  border: 1px solid #ccc;
  margin: 5px;
  border-radius: 4px;
}